body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
  padding: 0;
  margin: 0;
}
header{
  height: 60px;
  background-color: darkslategray;
  color: #ffffff;
}
main{
  background-color: darkturquoise;
  color: black;
  height: 600px;
  width: 88%;
  float: left;
}
aside{
  width: 12%;
  float: left;
  height: 600px;
}
footer{
  height: 280px;
  background-color: cornflowerblue;
  clear: both;
}
.nav{
  width: 100%;
  vertical-align: middle;
  text-align: center;        
  line-height: 33px;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center
}
.nav li{
  padding: 12px 10px;
  list-style: none;
}
.nav a{
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.myname{
  float: right;
}
.center{
  float: left;
}